In [1]:
import pandas as pd
import numpy as np

In [3]:
loan = pd.read_csv('LoanStats3a.csv', skiprows=1)
loan.head()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
loan.shape

(42538, 145)

In [6]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 145 entries, id to settlement_term
dtypes: float64(115), object(30)
memory usage: 47.1+ MB

In [8]:
half_count = len(loan)//2
loan = loan.dropna(thresh=half_count, axis=1)
loan = loan.drop(['desc'], axis=1)

In [9]:
loan.shape

(42538, 53)

In [12]:
loan.drop_duplicates()  # 删除重复项

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,2500.0,2500.000000,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,2400.0,2400.000000,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,3000.0,3000.000000,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
5,5000.0,5000.0,5000.000000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
6,7000.0,7000.0,7000.000000,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
7,3000.0,3000.0,3000.000000,36 months,18.64%,109.43,E,E1,MKC Accounting,9 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
8,5600.0,5600.0,5600.000000,60 months,21.28%,152.39,F,F2,NaN,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
9,5375.0,5375.0,5350.000000,60 months,12.69%,121.45,B,B5,Starbucks,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
10,6500.0,6500.0,6500.000000,60 months,14.65%,153.45,C,C3,Southwest Rural metro,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
11,12000.0,12000.0,12000.000000,36 months,12.69%,402.54,B,B5,UCLA,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
12,9000.0,9000.0,9000.000000,36 months,13.49%,305.38,C,C1,Va. Dept of Conservation/Recreation,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
13,3000.0,3000.0,3000.000000,36 months,9.91%,96.68,B,B1,Target,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
14,10000.0,10000.0,10000.000000,36 months,10.65%,325.74,B,B2,SFMTA,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
15,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,Internal revenue Service,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
16,10000.0,10000.0,10000.000000,36 months,15.27%,347.98,C,C4,Chin's Restaurant,4 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
17,3600.0,3600.0,3600.000000,36 months,6.03%,109.57,A,A1,Duracell,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
18,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,Connection Inspection,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
19,9200.0,9200.0,9200.000000,36 months,6.03%,280.01,A,A1,Network Interpreting Service,6 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
20,20250.0,20250.0,19142.161077,60 months,15.27%,484.63,C,C4,Archdiocese of Galveston Houston,3 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
21,21000.0,21000.0,21000.000000,36 months,12.42%,701.73,B,B4,Osram Sylvania,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
22,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Value Air,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
23,10000.0,10000.0,10000.000000,36 months,11.71%,330.76,B,B3,Wells Fargo Bank,5 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
24,6000.0,6000.0,6000.000000,36 months,11.71%,198.46,B,B3,bmg-educational,1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
25,15000.0,15000.0,15000.000000,36 months,9.91%,483.38,B,B1,Winfield Pathology Consultants,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
26,15000.0,15000.0,8725.000000,36 months,14.27%,514.64,C,C2,nyc transit,9 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
27,5000.0,5000.0,5000.000000,60 months,16.77%,123.65,D,D2,Frito Lay,2 years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
28,4000.0,4000.0,4000.000000,36 months,11.71%,132.31,B,B3,Shands Hospital at the University of Fl,10+ years,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
29,8500.0,8500.0,8500.000000,36 months,11.71%,281.15,B,B3,Oakridge homes,< 1 year,...,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42506,6725.0,6725.0,825.000000,36 months,13.12%,226.98,D,D5,MCHCP,10+ years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42507,2000.0,2000.0,1025.000000,36 months,12.80%,67.20,D,D4,Signs by Tomorrow,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42508,6000.0,6000.0,1200.000000,36 months,13.12%,202.51,D,D5,SUNY- ESF,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42509,5350.0,5350.0,625.000000,36 months,13.12%,180.57,D,D5,Clinton Shop Rite of Hunterdon County,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42510,1900.0,1900.0,900.000000,36 months,9.64%,61.00,B,B4,Scheduall,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42511,10000.0,10000.0,350.000000,36 months,14.70%,345.18,E,E5,GA-PCOM,1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42512,2000.0,2000.0,1275.000000,36 months,7.12%,61.87,A,A1,Tzigane Inc,7 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42513,6000.0,6000.0,650.000000,36 months,10.59%,195.28,C,C2,Yale University,< 1 year,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42514,4400.0,4400.0,1400.000000,36 months,9.64%,141.25,B,B4,Brick Township board of education,2 years,...,1.0,Individual,0.0,NaN,0.0,NaN,NaN,N,Cash,N
42515,1200.0,1200.0,500.000000,36 months,9.01%,38.17,B,B2,Classic Components,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42516,5000.0,5000.0,375.000000,36 months,11.22%,164.23,C,C4,Compensation Solutions,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42517,1400.0,1400.0,475.000000,36 months,10.91%,45.78,C,C3,"Stanford University Libraries, LOCKSS Project",< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42518,1000.0,1000.0,625.000000,36 months,14.07%,34.21,E,E3,Macy's,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42519,5000.0,5000.0,300.000000,36 months,7.75%,156.11,A,A3,Diamond Management and Technology Consultants,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42520,2500.0,2500.0,225.000000,36 months,7.43%,77.69,A,A2,U.S. Bank,9 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42521,3000.0,3000.0,250.000000,36 months,7.43%,93.23,A,A2,NC,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42522,2600.0,2600.0,575.000000,36 months,8.38%,81.94,A,A5,College Pro Painters,3 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42523,1000.0,1000.0,625.000000,36 months,7.12%,30.94,A,A1,Mana Products,6 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42524,1275.0,1275.0,0.000000,36 months,12.49%,42.65,D,D3,Infinitely law group,1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42525,6450.0,6450.0,0.000000,36 months,11.22%,211.85,C,C4,Apto Solutions,2 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42526,10500.0,10500.0,275.000000,36 months,11.22%,344.87,C,C4,Town of Plainville,3 years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42527,3000.0,3000.0,125.000000,36 months,9.01%,95.42,B,B2,Tanks Tavern,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42528,3000.0,3000.0,0.000000,36 months,9.33%,95.86,B,B3,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42529,2000.0,2000.0,225.000000,36 months,9.96%,64.50,B,B5,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42530,6500.0,6500.0,0.000000,36 months,9.64%,208.66,B,B4,Air Force,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42531,3500.0,3500.0,225.000000,36 months,10.28%,113.39,C,C1,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42532,1000.0,1000.0,0.000000,36 months,9.64%,32.11,B,B4,Halping hands company inc.,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42533,2525.0,2525.0,225.000000,36 months,9.33%,80.69,B,B3,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42534,6500.0,6500.0,0.000000,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N
42535,5000.0,5000.0,0.000000,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,Cash,N

In [13]:
loan.shape

(42538, 53)

In [14]:
loan.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'disbursement_method', 'debt_settlement_flag'],
      dtype='object')

In [16]:
loan = loan.drop(["funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d",
                              "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", 
                              "last_pymnt_d", "last_pymnt_amnt"], axis=1)

,loan_amnt,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,...,total_pymnt,total_pymnt_inv,total_rec_prncp,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,42535.000000,42535.000000,4.253100e+04,42535.000000,42506.000000,42506.000000,42506.000000,42506.000000,4.253500e+04,42506.000000,...,42535.000000,42535.000000,42535.000000,42390.0,42535.0,42506.000000,42390.0,42506.000000,41170.000000,42430.000000
mean,11089.722581,322.623063,6.913656e+04,13.373043,0.152449,1.081424,9.343951,0.058156,1.429786e+04,22.124406,...,12020.073691,11312.613676,9675.675936,0.0,1.0,0.000094,0.0,0.143039,0.045227,0.000024
std,7410.938391,208.927216,6.409635e+04,6.726315,0.512406,1.527455,4.496274,0.245713,2.201844e+04,11.592811,...,9094.572493,9038.387337,7105.750304,0.0,0.0,0.009700,0.0,29.359579,0.208737,0.004855
min,500.000000,15.670000,1.896000e+03,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000,...,0.000000,0.000000,0.000000,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000
25%,5200.000000,165.520000,4.000000e+04,8.200000,0.000000,0.000000,6.000000,0.000000,3.635000e+03,13.000000,...,5465.685189,4793.115000,4400.000000,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000
50%,9700.000000,277.690000,5.900000e+04,13.470000,0.000000,1.000000,9.000000,0.000000,8.821000e+03,20.000000,...,9682.251696,8955.870000,8000.000000,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000
75%,15000.000000,428.180000,8.250000e+04,18.680000,0.000000,2.000000,12.000000,0.000000,1.725100e+04,29.000000,...,16427.850066,15543.015000,13499.995000,0.0,1.0,0.000000,0.0,0.000000,0.000000,0.000000
max,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,33.000000,47.000000,5.000000,1.207359e+06,90.000000,...,58886.473429,58563.680000,35000.020000,0.0,1.0,1.000000,0.0,6053.000000,2.000000,1.000000

In [18]:
loan = loan.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)
loan.shape

(42538, 35)

In [19]:
orig_columns = loan.columns
drop_columns = []
for col in orig_columns:
    col_series = loan[col].dropna().unique()
    if len(col_series) == 1:
        drop_columns.append(col)
loan = loan.drop(drop_columns, axis=1)
print(drop_columns)

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'chargeoff_within_12_mths', 'hardship_flag', 'disbursement_method']

In [20]:
null_counts = loan.isnull().sum()  # 统计每个特征项的空值个数
print(null_counts)

loan_amnt                  3
term                       3
int_rate                   3
installment                3
emp_length              1115
home_ownership             3
annual_inc                 7
verification_status        3
loan_status                3
purpose                    3
title                     16
addr_state                 3
dti                        3
delinq_2yrs               32
earliest_cr_line          32
inq_last_6mths            32
open_acc                  32
pub_rec                   32
revol_bal                  3
revol_util                93
total_acc                 32
last_credit_pull_d         7
acc_now_delinq            32
delinq_amnt               32
pub_rec_bankruptcies    1368
tax_liens                108
debt_settlement_flag       3
dtype: int64

In [21]:
loan = loan.drop(['pub_rec_bankruptcies'],axis=1)  # 认为这个项缺失太多，还是删除
loan = loan.dropna(axis=0)  # 这里对所有有缺失值的样本都删除
null_counts_2 = loan.isnull().sum()
print(null_counts_2)

loan_amnt               0
term                    0
int_rate                0
installment             0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
title                   0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
last_credit_pull_d      0
acc_now_delinq          0
delinq_amnt             0
tax_liens               0
debt_settlement_flag    0
dtype: int64

In [22]:
status_replace = {
    'loan_status': {
        'Fully Paid': 1,
        'Charged Off': 0,
        'Does not meet the credit policy. Status:Fully Paid': 1,
        'Does not meet the credit policy. Status:Charged Off': 0
    }
}
loan = loan.replace(status_replace)
loan.loan_status.value_counts()

1    35093
0     6154
Name: loan_status, dtype: int64

In [23]:
print(loan.dtypes.value_counts())

float64    13
object     12
int64       1
dtype: int64

In [24]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41247 entries, 0 to 42478
Data columns (total 26 columns):
loan_amnt               41247 non-null float64
term                    41247 non-null object
int_rate                41247 non-null object
installment             41247 non-null float64
emp_length              41247 non-null object
home_ownership          41247 non-null object
annual_inc              41247 non-null float64
verification_status     41247 non-null object
loan_status             41247 non-null int64
purpose                 41247 non-null object
title                   41247 non-null object
addr_state              41247 non-null object
dti                     41247 non-null float64
delinq_2yrs             41247 non-null float64
earliest_cr_line        41247 non-null object
inq_last_6mths          41247 non-null float64
open_acc                41247 non-null float64
pub_rec                 41247 non-null float64
revol_bal               41247 non-null float64
revol_util              41247 non-null object
total_acc               41247 non-null float64
last_credit_pull_d      41247 non-null object
acc_now_delinq          41247 non-null float64
delinq_amnt             41247 non-null float64
tax_liens               41247 non-null float64
debt_settlement_flag    41247 non-null object
dtypes: float64(13), int64(1), object(12)
memory usage: 8.5+ MB

In [25]:
object_colunms_df = loan.select_dtypes(include=['object'])
print(object_colunms_df.iloc[0])

term                      36 months
int_rate                     10.65%
emp_length                10+ years
home_ownership                 RENT
verification_status        Verified
purpose                 credit_card
title                      Computer
addr_state                       AZ
earliest_cr_line           Jan-1985
revol_util                    83.7%
last_credit_pull_d         Jun-2018
debt_settlement_flag              N
Name: 0, dtype: object

In [26]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'debt_settlement_flag', 'term', 'addr_state','purpose', 'title']
for c in cols:
    print(loan[c].value_counts())

RENT        19662
MORTGAGE    18439
OWN          3010
OTHER         134
NONE            2
Name: home_ownership, dtype: int64
Not Verified       18165
Verified           12992
Source Verified    10090
Name: verification_status, dtype: int64
10+ years    9355
< 1 year     5003
2 years      4727
3 years      4354
4 years      3633
1 year       3567
5 years      3449
6 years      2368
7 years      1868
8 years      1587
9 years      1336
Name: emp_length, dtype: int64
N    41099
Y      148
Name: debt_settlement_flag, dtype: int64
 36 months    30530
 60 months    10717
Name: term, dtype: int64
CA    7227
NY    3936
FL    2992
TX    2849
NJ    1952
IL    1631
PA    1610
VA    1454
GA    1454
MA    1386
OH    1291
MD    1102
AZ     881
WA     852
CO     829
NC     797
CT     790
MI     761
MO     734
MN     626
NV     510
WI     493
SC     481
AL     464
OR     452
LA     450
KY     353
OK     310
KS     285
UT     271
AR     250
DC     222
RI     206
NM     199
NH     178
WV     177
HI     176
DE     132
MT      89
AK      84
WY      82
SD      65
VT      57
TN      32
MS      26
IN      15
IA      12
NE      11
ID       9
ME       2
Name: addr_state, dtype: int64
debt_consolidation    19324
credit_card            5317
other                  4205
home_improvement       3089
major_purchase         2230
small_business         1939
car                    1558
wedding                 990
medical                 724
moving                  598
house                   410
educational             400
vacation                365
renewable_energy         98
Name: purpose, dtype: int64
Debt Consolidation                                2215
Debt Consolidation Loan                           1721
Personal Loan                                      688
Consolidation                                      539
debt consolidation                                 512
Home Improvement                                   362
Credit Card Consolidation                          362
Debt consolidation                                 335
Small Business Loan                                321
Personal                                           318
Credit Card Loan                                   312
Consolidation Loan                                 262
personal loan                                      254
Home Improvement Loan                              246
personal                                           233
Wedding Loan                                       215
Loan                                               212
consolidation                                      210
Car Loan                                           199
Other Loan                                         179
Wedding                                            159
Credit Card Payoff                                 157
Credit Card Refinance                              144
Consolidate                                        140
Major Purchase Loan                                138
Credit Card                                        117
Medical                                            116
home improvement                                   111
Credit Cards                                        94
My Loan                                             93
                                                  ...
Get them off my back                                 1
Engagement Ring Shopping                             1
College Credit Card Repayment                        1
Employed - College Expenses Debt Consolidation       1
Established Professional to Wipe Out Debts           1
Refinance/consolidate 2 Credit Cards                 1
Build a New Product Line and Website                 1
Boston CC Consolidation                              1
Pay off B of A card                                  1
PAY OFF HIGH DEBT                                    1
Concentrating several small balances                 1
Duplex Upgrade                                       1
2009 SunL 700  4x4 UTV                               1
to open a nail salon in baltimore for my wife        1
One Debt Group                                       1
moving expense                                       1
BlesSheereen                                         1
needed help                                          1
DEBTCONSOLIDATION                                    1
ALMOST FREE                                          1
Phoenix Rising!                                      1
housinglt                                            1
My daughters wedding                                 1
2010 Loan 1                                          1
PAYOFF TSP                                           1
Bills Paid                                           1
Need help consolidating                              1
personel loan                                        1
One Payment, One Date, One-derful                    1
Dgrondin                                             1
Name: title, Length: 20680, dtype: int64

In [27]:
loan = loan.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
    }
}
loan['int_rate'] = loan['int_rate'].str.rstrip('%').astype('float')
loan['revol_util'] = loan['revol_util'].str.rstrip('%').astype('float')
loan = loan.replace(mapping_dict)

In [28]:
cat_columns = ["home_ownership", "verification_status", "purpose", "term", 'debt_settlement_flag']
dummy_df = pd.get_dummies(loan[cat_columns]) # one-hot encoding
loan = pd.concat([loan, dummy_df], axis=1)
loan = loan.drop(cat_columns, axis=1)

In [29]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41247 entries, 0 to 42478
Data columns (total 43 columns):
loan_amnt                              41247 non-null float64
int_rate                               41247 non-null float64
installment                            41247 non-null float64
emp_length                             41247 non-null int64
annual_inc                             41247 non-null float64
loan_status                            41247 non-null int64
dti                                    41247 non-null float64
delinq_2yrs                            41247 non-null float64
inq_last_6mths                         41247 non-null float64
open_acc                               41247 non-null float64
pub_rec                                41247 non-null float64
revol_bal                              41247 non-null float64
revol_util                             41247 non-null float64
total_acc                              41247 non-null float64
acc_now_delinq                         41247 non-null float64
delinq_amnt                            41247 non-null float64
tax_liens                              41247 non-null float64
home_ownership_MORTGAGE                41247 non-null uint8
home_ownership_NONE                    41247 non-null uint8
home_ownership_OTHER                   41247 non-null uint8
home_ownership_OWN                     41247 non-null uint8
home_ownership_RENT                    41247 non-null uint8
verification_status_Not Verified       41247 non-null uint8
verification_status_Source Verified    41247 non-null uint8
verification_status_Verified           41247 non-null uint8
purpose_car                            41247 non-null uint8
purpose_credit_card                    41247 non-null uint8
purpose_debt_consolidation             41247 non-null uint8
purpose_educational                    41247 non-null uint8
purpose_home_improvement               41247 non-null uint8
purpose_house                          41247 non-null uint8
purpose_major_purchase                 41247 non-null uint8
purpose_medical                        41247 non-null uint8
purpose_moving                         41247 non-null uint8
purpose_other                          41247 non-null uint8
purpose_renewable_energy               41247 non-null uint8
purpose_small_business                 41247 non-null uint8
purpose_vacation                       41247 non-null uint8
purpose_wedding                        41247 non-null uint8
term_ 36 months                        41247 non-null uint8
term_ 60 months                        41247 non-null uint8
debt_settlement_flag_N                 41247 non-null uint8
debt_settlement_flag_Y                 41247 non-null uint8
dtypes: float64(15), int64(2), uint8(26)
memory usage: 6.7 MB

In [30]:
loan.describe()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,debt_settlement_flag_N,debt_settlement_flag_Y
count,41247.00000,41247.000000,41247.000000,41247.000000,4.124700e+04,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,...,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000,41247.000000
mean,11182.35205,12.196099,325.398043,4.931607,6.978710e+04,0.850801,13.398906,0.152496,1.082624,9.374354,...,0.014498,0.101947,0.002376,0.047009,0.008849,0.024002,0.740175,0.259825,0.996412,0.003588
std,7416.82133,3.699504,209.214433,3.567432,6.455601e+04,0.356289,6.713608,0.509161,1.525617,4.488858,...,0.119533,0.302582,0.048686,0.211662,0.093654,0.153056,0.438544,0.438544,0.059794,0.059794
min,500.00000,5.420000,15.670000,0.000000,1.896000e+03,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5500.00000,9.630000,167.540000,2.000000,4.100000e+04,1.000000,8.240000,0.000000,0.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,10000.00000,11.990000,280.690000,4.000000,6.000000e+04,1.000000,13.500000,0.000000,1.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,15000.00000,14.740000,432.240000,9.000000,8.344800e+04,1.000000,18.690000,0.000000,2.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,35000.00000,24.590000,1305.190000,10.000000,6.000000e+06,1.000000,29.990000,11.000000,33.000000,47.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
loan.sort_values(by='loan_amnt', ascending=False).head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,debt_settlement_flag_N,debt_settlement_flag_Y
12698,35000.0,19.29,913.52,6,100000.0,1,19.98,0.0,0.0,10.0,...,0,0,0,0,0,0,0,1,1,0
8349,35000.0,11.49,552.99,10,144000.0,1,2.92,0.0,0.0,6.0,...,0,0,0,0,0,0,0,1,1,0
18037,35000.0,16.02,851.51,5,110000.0,1,14.11,0.0,3.0,14.0,...,0,0,1,0,0,0,0,1,1,0
18864,35000.0,14.54,1205.42,2,145000.0,1,25.09,0.0,0.0,5.0,...,0,0,0,0,0,0,1,0,1,0
2610,35000.0,23.91,1005.06,10,81500.0,0,21.92,0.0,0.0,7.0,...,0,0,0,0,0,0,0,1,1,0

In [32]:
loan.sort_values(by=['loan_amnt', 'emp_length'], ascending=False).head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,debt_settlement_flag_N,debt_settlement_flag_Y
611,35000.0,8.90,1111.37,10,106000.0,1,12.09,0.0,0.0,10.0,...,0,0,0,0,0,0,1,0,1,0
683,35000.0,12.42,489.57,10,90000.0,1,26.33,0.0,0.0,13.0,...,0,0,0,0,0,0,0,1,1,0
715,35000.0,19.03,572.36,10,140000.0,1,4.29,2.0,2.0,14.0,...,0,0,0,1,0,0,0,1,1,0
767,35000.0,20.89,576.27,10,71316.0,0,14.79,1.0,1.0,13.0,...,0,0,0,0,0,0,0,1,1,0
998,35000.0,20.30,933.14,10,85000.0,1,12.54,0.0,2.0,9.0,...,0,0,0,0,0,0,0,1,1,0